@media (max-width: 1200px) {
    .main-header-menu {
        display: block;
        left: 50px
    }
    .main-header-about {
        display: none;
    }
    .main-header-mobile_nav {
        display: block;
    }
}

@media (max-width: 1200px) {
    .main {
        width: 100vw
    }
}
@media (max-width: 1200px) {
    .project-list {
        display: none
    }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
    .project-list {
        display: none
    }
}
