@media (max-width: 1200px) {
    .main-header-menu {
        display: block;
        left: 50px
    }
    .main-header-about {
        display: none;
    }
    .main-header-mobile_nav {
        display: block;
    }
    .main {
        width: 100vw
    }
    .project-list {
        display: none;
    }
}
@media (max-width: 768px) {
    .main-header-menu {
        left: 20px;
    }
    .main-footer-left {
        left: 20px;
    }
    .main-header-volume_control {
        display: none;
    }
    .main-footer-right {
        top: 30px;
        right: 20px;
        bottom: 0;
    }
    .main-footer-right-top_border {
        display: none;
    }
}
